# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [28]:
import numpy as np
def moving_avg(x,k):
    length=len(x)
    elements=length-k+1
    y=[sum(x[i:i+k])/k for i in range(elements)]
    return(y)

x=np.array([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150])
moving_avg( x ,3)
#y=[10,20,30,40,50,60,70,80,90,100]
#moving_avg( y ,4)

[5.0,
 4.666666666666667,
 5.666666666666667,
 6.666666666666667,
 9.666666666666666,
 28.666666666666668,
 49.333333333333336,
 72.66666666666667,
 84.0,
 93.33333333333333,
 116.33333333333333]

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [29]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df['Y']=0
j=0
for i in range(len(df['X'])):
    if(df.iloc[i,0]!=0):
        j +=1
        df.iloc[i,1]= j
    else:
        df.iloc[i,1]= 0
        j=0
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [30]:
import pandas as pd
dates=pd.date_range('1/1/2015', periods=365)
numbers=pd.Series(np.random.randn(365),index=dates)
print(numbers)

2015-01-01    0.323588
2015-01-02   -0.884802
2015-01-03    0.000520
2015-01-04    0.363861
2015-01-05   -1.432749
2015-01-06    0.007465
2015-01-07    0.346719
2015-01-08   -0.377215
2015-01-09    0.249935
2015-01-10    1.031348
2015-01-11   -0.729752
2015-01-12   -1.473999
2015-01-13    0.473047
2015-01-14    0.239297
2015-01-15   -0.071590
2015-01-16    3.556085
2015-01-17    0.787427
2015-01-18   -0.861192
2015-01-19   -0.168057
2015-01-20   -1.309355
2015-01-21    0.268539
2015-01-22    0.208804
2015-01-23   -0.605492
2015-01-24    0.772067
2015-01-25    0.750331
2015-01-26   -0.265574
2015-01-27    0.545730
2015-01-28    1.239805
2015-01-29    1.927740
2015-01-30   -0.784726
                ...
2015-12-02    2.109907
2015-12-03    1.425921
2015-12-04   -0.145858
2015-12-05   -0.312562
2015-12-06    1.351262
2015-12-07    0.360430
2015-12-08   -1.044257
2015-12-09   -0.642289
2015-12-10    0.317515
2015-12-11    0.244561
2015-12-12   -0.382334
2015-12-13   -0.766165
2015-12-14    1.093959
2015-12-15    0.669606
2015-12-16   -1.460592
2015-12-17    1.658766
2015-12-18   -1.345436
2015-12-19    0.724070
2015-12-20   -0.206216
2015-12-21   -0.898793
2015-12-22   -0.848558
2015-12-23   -0.906122
2015-12-24    0.593185
2015-12-25    1.518093
2015-12-26    0.231891
2015-12-27    0.453984
2015-12-28   -0.080233
2015-12-29    1.419545
2015-12-30   -0.416845
2015-12-31   -0.223540
Freq: D, Length: 365, dtype: float64

Q.4